.icon__age {
    background: url(../img/icon/birthday_icon.svg) 100% 100% no-repeat;
}
.icon__geo {
    background: url(../img/icon/geo_icon.svg) 100% 100% no-repeat;
}
.icon__vk {
    background: url(../img/icon/vk_icon.svg) 100% 100% no-repeat;
}
.icon__tg {
    background: url(../img/icon/telegram_icon.svg) 100% 100% no-repeat;
}
.icon__mail {
    background: url(../img/icon/mail_icon.svg) 100% 100% no-repeat;
}
.icon__phone {
    background: url(../img/icon/phone_icon.svg) 100% 100% no-repeat;
}
.icon__html {
    background: url(../img/icon/html_icon.svg) center no-repeat;
}
.icon__css {
    background: url(../img/icon/css_icon.svg) center no-repeat;
}
.icon__js {
    background: url(../img/icon/js_official_icon.svg) center no-repeat;
}
.icon__sql {
    background: url(../img/icon/mysql_logo_icon.svg) center no-repeat;
}
.icon__git {
    background: url(../img/icon/git_icon.svg) center no-repeat;
}
.icon__php {
    background: url(../img/icon/php_icon.svg) center no-repeat;
}
.icon__python {
    background: url(../img/icon/python_icon.svg) center no-repeat;
}
.icon__react {
    background: url(../img/icon/reactjs_icon.svg) center no-repeat;
}
.icon__vs {
    background: url(../img/icon/visualstudiocode_icon.svg) center no-repeat;
}
.icon__node {
    background: url(../img/icon/nodejs_logo_icon.svg) center 10% no-repeat;
    background-size:100%;
}